/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Containers */
/*div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}*/

/*About Section*/
.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.about-image{
  flex-shrink: 0;
}

.about-text {
  max-width: 500px;
  text-align: left;
}

.about-text h3 {
  text-align: center;
  margin-bottom: 15px;
}

.background-section {
  margin-top: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*Portfolio Section*/

.portfolio-section {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  max-width: 1000px;
  margin: 40px auto;
}

.portfolio-section section p {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-section section p {
  font-size: 14px;
}

/*Article Section*/

article {
  padding: 50px 0;
  max-width: 1000px;
  margin: 0 auto;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  object-fit: cover;
  display: block;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
